footer {
    width: 100%;
    height: fit-content;
    background: #fff;
    box-shadow: 0rem -0.3rem 0.6rem 0 rgb(30 60 88 / 16%);
    padding: 2.5rem;
}

.footerContent {
    display: flex;
    justify-content: center;
}



